@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.ex02-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ex02-div {
  background-color: aqua;
  width: 30%;
  text-align: center;
  padding: 50px;
}
